AddHandler fastcgi-script .fcgi
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ mysite.fcgi/$1 [QSA,L]

<IfModule mod_expires.c>
   ExpiresActive on
   ExpiresDefault "access plus 1 week"
   ExpiresByType application/javascript "access plus 1 year"
   ExpiresByType image/x-ico "access plus 1 year"
   ExpiresByType text/css "access plus 14 days"
</IfModule>