{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}Coderkid</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block header-js %}{% endblock %}
</head>
<body>
    <div class="wrapper">
        <header id="index-header">
            <h1><a href="{% url 'index' %}">Coderkid</a></h1>
            {% block index-header %}

            {% endblock %}
        </header>
        
        <main id="index-content">
            {% block content %}
            {% endblock %}
        </main>

       
    </div>
    <footer id="index-footer">
        <a href="http://maxungless.com">Created by Max Ungless</a>
    </footer>
</body>
</html>