{% extends "almanac/base.html" %}
{% load static %}

{% block title %}{{ almanac.title }} - {% endblock %}

{% block content %}
<main id="main-almanac" class="almanac-{{ almanac.slug }}">
    <img class="almanac-logo" src="{% static 'img/' %}{{ almanac.slug }}.png" alt="{{ almanac.slug }} logo">

    <h2>{{ almanac.title }}</h2>
    <p>{{ almanac.description }}</p>
</main>

<section id="almanac-posts">
    <h3>What I have learned.</h3>
    {% if posts %}
        <ul class="options-ul">
            {% for post in posts %}
                <li>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </li> 
            {% endfor %}
        </ul>
    {% else %}
        <h4>Work in progress. (Learning in progress)</h4>
    {% endif %}
</section>
{% endblock %}