{% extends "almanac/base.html" %}
{% load static %}

{% block header-js %}
<link href="{% static 'css/prism.css' %}" rel="stylesheet" />
{% endblock %}

{% block title %}{{ example.name }} | {{ example.post.almanac.title }} - {% endblock %}

{% block content %}
    <main class="main-header" id="main-example">
        <a href="{% url 'post' example.post.almanac.slug example.post.slug %}">Back</a>
        <h2>{{ example.name }}</h2>
    </main>

    <section id="example-content">
        <pre><code class="language-{{ example.language }}">{{ example.code }}</code></pre>
    </section>

    <script src="{% static 'js/prism.js' %}"></script>
{% endblock %}