{% extends "almanac/base.html" %}
{% load static %}

{% block index-header %}
    <p>Welcome to a collection of everything I know, and everything that I am learning. I strongly believe that learning is the best way to acheive programming potential. So therefore I learn everyday, and then practice my skills. I also prefer to learn with examples, so I included them! I hope that you find these "Almanacs" useful.</p>
{% endblock %}

{% block content %}
<section id="latest-almanacs">
    <h2>Almanacs</h2>
    
    <section id="almanac-displays">
        {% for almanac in almanacs %}

            <div class="almanac almanac-{{ almanac.slug }}">  
                <div class="almanac-title-content">
                    <a href="{{ almanac.get_absolute_url }}">
                        <img class="almanac-logo" src="{% static 'img/' %}{{ almanac.slug }}.png" alt="{{ almanac.slug }} logo">
                        <h3>{{ almanac.title }}</h3>
                    </a>
                    <p>{{ almanac.description }}</p>
                </div>
            </div>
        
        {% endfor %}    
    </section>
</section>
{% endblock %}