{% extends "almanac/base.html" %}

{% block index-header %}
<main>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione quod aut ut voluptatibus harum magni, illo nesciunt voluptates sint sed sequi nostrum animi, deserunt odio voluptatum, placeat molestiae dignissimos, quam.</span>
    <span>Voluptate alias corrupti error asperiores eos tempore, facere est culpa nobis recusandae officiis, cum ullam. Sapiente quasi labore voluptate, ipsum reiciendis dolor impedit, eveniet laboriosam voluptas ullam, id obcaecati et.</span>
    <span>Voluptatem suscipit dolore, quaerat. Reprehenderit delectus a dolorem similique cupiditate praesentium eveniet nisi. A recusandae odio modi obcaecati quas eius, soluta voluptatum ullam magnam vero? Eum unde id, eaque dolorem.</span></p>
{% endblock %}

{% block content %}
<section id="latest-almanacs">
    <h2>Almanacs</h2>
    {% for almanac in almanacs %}
        <div class="almanac" id="{{ alamanc.slug }}">  
            <div class="almanac-title-content">
                <h3><a href="{{ almanac.get_absolute_url }}">{{ almanac.title }}</a></h3>
                <p>{{ almanac.description }}</p>
            </div>
        </div>
    {% endfor %}    
</section>
{% endblock %}