{% extends "almanac/base.html" %}
{% load markdown_filter %}
{% load static %}

{% block header-js %}
<link href="{% static 'css/prism.css' %}" rel="stylesheet" />
{% endblock %}

{% block title %}{{ post.title }} | {{ post.almanac.title }} - {% endblock %}

{% block content %}
    <main class="main-header" id="main-post">
        <div>
            <a href="{% url 'almanac' post.almanac.slug %}">Back</a>
        </div>
        <h2>{{ post.title }}</h2>
    </main>

    <article id="post-article">
        {{ post.content|parse_md|safe }}
    </article>

    <section id="post-examples">        
        <h3>Examples</h3>
        {% if examples %}
        <ul class="options-ul">
            {% for example in examples %}
                <li>
                    <a href="{{ example.get_absolute_url }}">{{ example.name }}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No examples, you're alone, my friend.</p>
        {% endif %}
    </section>
    <script src="{% static 'js/prism.js' %}"></script>
{% endblock %}