/* [============] Variables [============] */
/* [============] Mixins [============] */
/* [============] Imports [============] */
@import url("https://fonts.googleapis.com/css?family=Kumar+One|Roboto");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Kumar One", serif; }

h1 {
  font-size: 5.9vw; }

h2 {
  font-size: 3.0vw; }
  @media (max-width: 540px) {
    h2 {
      font-size: 5vw; } }
  @media (min-width: 1024px) {
    h2 {
      font-size: 2vw; } }

p {
  font-size: calc(2vmin * 25%); }

a, p, ul, ol, body {
  font-family: "Roboto", sans-serif; }

a {
  color: #FE4A49;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:focus {
    color: goldenrod; }

.options-ul {
  margin-left: 5em;
  list-style: none; }
  .options-ul li a {
    padding: 1em 0.5em;
    border-bottom: 1px solid lightgray;
    font-size: 1.2rem;
    width: 70vw;
    display: block;
    transition: 0.3s all; }
    .options-ul li a:hover {
      transform: translateX(2em);
      text-decoration: none;
      transition: 0.3s all;
      box-shadow: 1px 1px 0 lightgray; }
    @media (max-width: 540px) {
      .options-ul li a {
        width: 90vw; }
        .options-ul li a:hover {
          transform: translateX(0); } }
  @media (max-width: 540px) {
    .options-ul {
      margin: 0 5vw;
      width: 90vw; } }

main.main-header {
  padding: 0.5em;
  border-bottom: 1px solid lightgray;
  margin: 1em 0.5em; }
  main.main-header a {
    text-align: left; }
  main.main-header h2 {
    text-align: center; }

.wrapper {
  min-height: 100%;
  position: relative; }

header#index-header {
  padding: 1em;
  margin: 0 auto;
  width: 60em; }
  @media (max-width: 540px) {
    header#index-header {
      width: 95%; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    header#index-header {
      width: 90%; } }
  header#index-header p {
    font-size: 1.1rem; }
    @media (max-width: 540px) {
      header#index-header p {
        font-size: 0.9rem; } }
  header#index-header h1 {
    text-align: center; }
    header#index-header h1 a {
      color: black;
      font: 4vw 'Kumar One'; }
      @media (max-width: 540px) {
        header#index-header h1 a {
          font-size: 9vw; } }
      header#index-header h1 a:hover {
        color: #FE4A49; }

main#index-content {
  padding: 0;
  min-height: calc(100vh - 6em); }

footer#index-footer {
  background: #545454;
  margin: 0;
  height: 3em;
  padding: 0.5em;
  text-align: right; }
  footer#index-footer a {
    color: white;
    text-decoration: underline; }

section#latest-almanacs {
  overflow: hidden;
  margin: 0;
  padding: 0; }
  section#latest-almanacs h2 {
    padding: 1em 0 0 1em; }
  section#latest-almanacs .almanac {
    transform: rotate(-2deg);
    background: linear-gradient(to top right, white, lightgray);
    margin: 1em -4em;
    padding: 6em 4em;
    width: calc(100vw + 8em);
        /*&:nth-child(even) {
            transform: rotate(4deg);

            .almanac-title-content {
                transform: rotate(-4deg);
            }
        }*/ }
    @media (max-width: 540px) {
      section#latest-almanacs .almanac {
        padding: 3em 2em; } }
    @media (min-width: 1024px) {
      section#latest-almanacs .almanac {
        font-size: 1.5rem; } }
    section#latest-almanacs .almanac .almanac-title-content {
      transform: rotate(2deg);
      margin: 0 auto;
      padding: 2em 0;
      width: 80vw; }
      section#latest-almanacs .almanac .almanac-title-content a {
        color: white;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.2); }
        section#latest-almanacs .almanac .almanac-title-content a:hover {
          text-decoration: none; }
          section#latest-almanacs .almanac .almanac-title-content a:hover h3 {
            text-decoration: underline; }
      section#latest-almanacs .almanac .almanac-title-content h3 {
        font-family: "Kumar One", serif;
        font-size: 2.5rem;
        display: inline;
        padding: 0 0 1em 0; }

.almanac-python {
  background: linear-gradient(to top left, #ffeba1, #FFD53B) !important;
  background: red; }

.almanac-go {
  background: linear-gradient(to top left, #c5eaf0, #73CDDC) !important; }

img.almanac-logo {
  width: 10vw;
  display: inline;
  border-radius: 5px;
  padding: 1em;
  text-decoration: none !important;
  background: rgba(255, 255, 255, 0.7); }
  @media (max-width: 540px) {
    img.almanac-logo {
      width: 15vw;
      padding: 0.4em; } }
  @media (min-width: 1024px) {
    img.almanac-logo {
      width: 7vw; } }
  img.almanac-logo:hover {
    text-decoration: none; }

main#main-almanac {
  width: 100%;
  padding: 2em;
  text-align: center; }
  main#main-almanac h2 {
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    display: inline;
    margin: 1em 0.5em;
    font-size: 2rem; }

section#almanac-posts {
  padding: 2em;
  margin: 2em; }
  @media (max-width: 540px) {
    section#almanac-posts {
      padding: 0;
      margin: 0; } }
  section#almanac-posts h3 {
    font-size: 1.7rem; }
    @media (max-width: 540px) {
      section#almanac-posts h3 {
        padding: 2em 0 0.5em 1em; } }

article#post-article {
  width: 60vw;
  margin: 0 auto; }
  @media (max-width: 540px) {
    article#post-article {
      width: 80vw; } }

section#post-examples {
  padding: 2em;
  margin: 2em; }
  @media (max-width: 540px) {
    section#post-examples {
      padding: 0;
      margin: 0; } }
  @media (max-width: 540px) {
    section#post-examples h3 {
      padding: 2em 0 0.5em 1em; } }
  section#post-examples p {
    margin-left: 2em; }
    @media (max-width: 540px) {
      section#post-examples p {
        margin: 0 auto;
        width: 90vw; } }

section#example-content {
  width: 60vw;
  margin: 1em auto; }
  @media (max-width: 540px) {
    section#example-content {
      width: 90vw; } }

/*# sourceMappingURL=main.css.map */
