.almanac-python {
    @include almanac-gradient($python-yellow);
    background: red;
}

.almanac-go {
    @include almanac-gradient($go-blue);
}

img.almanac-logo {
    width: 10vw;
    display: inline;
    border-radius: 5px;
    padding: 1em;
    text-decoration: none !important;
    border: 0;
    background: rgba(255, 255, 255, 0.7);
    
    @include mobile {
        width: 15vw;
        padding: 0.4em;
    }

    @include desktop {
        width: 7vw;
    }

    &:hover {
        text-decoration: none; 
    }
}



main#main-almanac {
    width: 100%;
    padding: 2em;
    text-align: center;

    
    h2 {
        color: white;
        text-shadow: 1px 1px rgba(0,0,0,0.2);        
        display: inline;
        margin: 1em 0.5em;
        font-size: 2rem;
    }
}

section#almanac-posts {
    padding: 2em;
    margin: 2em;
    
    @include mobile {
        padding: 0;
        margin: 0 0 2em 0;
    }

    h3 {
        font-size: 1.7rem;
    
        @include mobile {
            padding: 2em 0 0.5em 1em;
        }
    }
}
