* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $display-font;
}

h1 {
    font-size: 5.9vw;
}

h2 {
    font-size: 3.0vw;

    @include mobile {
        font-size: 8vw;
    }

    @include desktop {
        font-size: 2vw;
    }
}

p {
    font-size: calc(2vmin * 75%);
}


a, p, ul, ol, body {
    font-family: $content-font;
}

a {
    color: $main-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:focus {
        color: $secondary-color;
    }
}