.container {
    position: relative;
    min-height: 100%;
}

header#index-header {
    padding: 1em;

    h1 {
        text-align: center;
        
        a {
            color: black;
            font: 40px 'Kumar One';
        }
    }
}

main#index-content {
    padding: 0.5em;
    padding-bottom: 7em;
}

footer#index-footer {
    background: darken($main-gray, 50%);
    margin: 0px;
    position: absolute;
    bottom: 0;
    padding: 1em;
    left: 0;
    width: 100%;
    height: 3em;
    text-align: right;

    a {
        color: white;
        text-decoration: underline;
    }
}

section#latest-almanacs {
    overflow: hidden;
    margin: 0;
    padding: 0;
    
    section#almanac-displays {
        // background: $secondary-color;
    }

    .almanac {
        transform: rotate(-4deg);
        background: linear-gradient(to top, white, $main-gray);
        margin: 1em -4em;
        padding: 8em 6em;
        width: calc(100vw + 8em);

        .almanac-title-content {
            transform: rotate(4deg);
            padding: 4em;
            h3 {
                padding: 0 0 1em 0;
                a {
                    font-size: 35px;
                    color: white;
                    text-shadow: 1px 1px rgba(0,0,0,0.2);
                }
            }            
        }

        /*&:nth-child(even) {
            transform: rotate(4deg);

            .almanac-title-content {
                transform: rotate(-4deg);
            }
        }*/
    }
}