.wrapper {
    min-height: 100%;
    position: relative;
}

header#index-header {
    padding: 0.5em;
    margin: 0 auto;
    width: 60em;

    @include mobile {
        width: 95%;
    }
    @include tablet {
        width: 90%;
    }

    p {
        font-size: 1.1rem;

        @include mobile {
            font-size: 0.9rem;
        }
    }

    h1 {
        font-size: 0;
        text-align: center;
        
        a {
            color: black;
            font: 3vw 'Kumar One';

            @include mobile {
                font-size: 9vw; 
            }

            &:hover {
                color: $main-color;
            }
        }
    }
}

main#index-content {
    padding: 0;
    min-height: calc(100vh - 6em);
}

footer#index-footer {
    background: darken($main-gray, 50%);
    margin: 0;
    height: 3em;
    padding: 0.5em;
    text-align: right;

    a {
        color: white;
        text-decoration: underline;
    }
}

section#latest-almanacs {
    overflow: hidden;
    margin: 0;
    padding: 0;
    
    h2 {
        padding: 1em 0 0 1em;
    }

    section#almanac-displays {
        // background: $secondary-color;
    }
    
    .new-almanac {
        background: linear-gradient(to top right, darken($main-color, 30%), $main-color);
        color: white;
        position: absolute;
        top: 0;
        width: calc(100vw + 8em);

        h3 {
            padding: 0.5em 2.5em;
            margin: auto 0;
            font-size: 1.2rem;
        }
    }

    .almanac {
        transform: rotate(-2deg);
        background: linear-gradient(to top right, white, $main-gray);
        margin: 0 -4em 1em -4em;
        padding: 4em 4em;
        width: calc(100vw + 8em);
        
        @include mobile {
            padding: 3em 2em;
        }

        @include desktop {
            font-size: 1.5rem;
        }

        .almanac-title-content {
            transform: rotate(2deg);
            margin: 0 auto;
            padding: 2em 0;
            width: 80vw;

            a {
                color: white;
                text-shadow: 1px 1px rgba(0,0,0,0.2);
                
                &:hover {
                    text-decoration: none;

                    h3 {
                        text-decoration: underline;
                    }
                }
            }

            h3 {
                font-family: $display-font;
                font-size: 2.5rem;
                display: inline;
                padding: 0 0 1em 0;   
            }            
        }

        /*&:nth-child(even) {
            transform: rotate(4deg);

            .almanac-title-content {
                transform: rotate(-4deg);
            }
        }*/
    }
}