article#post-article {
    width: 60vw;
    margin: 0 auto;
    
    @include mobile {
        width: 80vw;
    }
    
    li {
        margin-bottom: 1em;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $content-font;
        font-size: 1.5rem;
        margin: 1em 0;
        border-bottom: 3px dashed black;
    }
    
    strong {
        font-weight: 700;
    }

    p, pre[class*="language-"] {
        margin-left: 1.5em;

        @include mobile {
            margin-left: 0;    
        }
    }

    p {
        padding: 0.2em;
        margin-bottom: 0.5em;
    }

        
}

section#post-examples {
    padding: 2em;
    margin: 2em;
    
    @include mobile {
        padding: 0 0 2em 0;
        margin: 0;
    }

    h3 {
        @include mobile {
            padding: 2em 0 0.5em 1em;
        }
    }

    p {
        margin-left: 2em;

        @include mobile {
            margin: 0 auto;
            width: 90vw;
        }
    }
}

code {
    line-height: 1.7em;
    background: rgba($main-color, 0.65);
    padding: 0.2em;
    color: rgba(255,255,255, 1);
    text-shadow: 0px 1px rgba(black,0.3);
}