article#post-article {
    width: 60vw;
    margin: 0 auto;

    @include mobile {
        width: 80vw;
    }
}

section#post-examples {
    padding: 2em;
    margin: 2em;
    
    @include mobile {
        padding: 0;
        margin: 0;
    }

    h3 {
        @include mobile {
            padding: 2em 0 0.5em 1em;
        }
    }

    p {
        margin-left: 2em;

        @include mobile {
            margin: 0 auto;
            width: 90vw;
        }
    }
}