article#post-article {
    width: 60vw;
    margin: 0 auto;
}

section#post-examples {
    padding: 1em 0 0.5em 1em;
    
    // h3 {
    //     padding: 1em 0 0.5em 1em;
    // }

    ul, h4 {
        padding-left: 2em;
    }
}