/* [============] Variables [============] */

$main-color: red;
$secondary-color: goldenrod;
$main-gray: lightgray;

$python-yellow: #FFD53B; 

$display-font: 'Kumar One', serif;
$content-font: 'Roboto', sans-serif;

$transition: 0.3s all;


/* [============] Imports [============] */

@import url('https://fonts.googleapis.com/css?family=Kumar+One|Roboto');

@import "general";
@import "almanacs";
@import "index";
